<div class="title">
    <h3 style="width: 98%;">Add Device</h3>
    <mat-icon style="width: 2%; cursor: pointer;" *ngIf="showCloseButton" (click)="onClose()">close</mat-icon>
</div>

<!-- <div>
  <form [formGroup]="deviceForm">
    <div>
      <mat-form-field>
        <input matInput formControlName="Name" placeholder="Enter Device Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="Ip" placeholder="Enter Device IP Address" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="Port" placeholder="Enter Device Port Address" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="Username" placeholder="Enter User Name" />
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <input matInput formControlName="Password" placeholder="Enter Password" />
      </mat-form-field>
    </div>
    <div>
        <mat-slide-toggle matInput formControlName="IsEnabled">Enabled</mat-slide-toggle>
    </div>
    <div>
        <mat-slide-toggle matInput formControlName="UseNSO">Use NSO </mat-slide-toggle>
    </div>

    <div class="actionRow">
      <button *ngIf="!data" mat-raised-button color="primary" (click)="onSubmit()">Add Device</button>
      <button *ngIf="data" mat-raised-button color="warn" (click)="onEdit()">Modify Device Data</button>
    </div>
  </form>
</div> -->

<!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button> -->
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="deviceForm" label="Device Basic Details" >
    <form [formGroup]="deviceForm">
      <div>
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Enter Device Name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="ipaddress" placeholder="Enter Device IP Address" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="port" placeholder="Enter Device Port Address" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="username" placeholder="Enter User Name" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Enter Password" />
        </mat-form-field>
      </div>
      <div>
          <mat-slide-toggle matInput formControlName="isEnabled">Enabled</mat-slide-toggle>
      </div>
      <div>
          <mat-slide-toggle matInput formControlName="useNSO">Use NSO </mat-slide-toggle>
      </div>

      <div class="actionRow">
        <button mat-raised-button color="primary" matStepperNext>Next</button>
        <!-- <button *ngIf="data" mat-raised-button color="warn" (click)="onEdit()">Modify Device Data</button> -->
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="macForm" label="Mac & Location Details">
    <form [formGroup]="macForm">
      <div>
        <mat-form-field>
          <input matInput formControlName="macAddress" placeholder="Enter Mac Address" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="area" placeholder="Enter Area" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="city" placeholder="Enter City" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="state" placeholder="Enter State" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput formControlName="country" placeholder="Enter Country" />
        </mat-form-field>
      </div>

      <div class="actionRow">
        <button *ngIf="!data" mat-raised-button color="primary" (click)="onSubmit()">Submit</button>
        <button *ngIf="data" [disabled]="!(deviceForm.dirty || macForm.dirty)" mat-raised-button color="warn" (click)="onEdit(device['_id'])">Modify Device Data</button>
      </div>
    </form>

  </mat-step>
  <!-- <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step> -->
</mat-stepper>
