<button class="btn warning" (click)="closeDialog()"><mat-icon>keyboard_arrow_left</mat-icon></button>

<h2>Device Details</h2>

<table>
  <tr>
    <td><h3>Name</h3></td>
    <td><h3>{{data["name"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>IP Address</h3></td>
    <td><h3>{{data["ip"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>Port Address</h3></td>
    <td><h3>{{data["port"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>User Name</h3></td>
    <td><h3>{{data["username"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>Password</h3></td>
    <td><h3>{{data["password"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>Area</h3></td>
    <td><h3>{{data["macdetail"]["area"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>City</h3></td>
    <td><h3>{{data["macdetail"]["city"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>State</h3></td>
    <td><h3>{{data["macdetail"]["state"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>Country</h3></td>
    <td><h3>{{data["macdetail"]["country"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>Latitude</h3></td>
    <td><h3>{{data["coordinates"]["latitude"]}}</h3></td>
  </tr>
  <tr>
    <td><h3>Longitude</h3></td>
    <td><h3>{{data["coordinates"]["longitude"]}}</h3></td>
  </tr>
</table>
