.container {
  margin: 2px;
  display: flex;
  float: left;
  /* grid-gap: 10px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(auto-fill, minmax(100px, 140px)); */
}

.dashboard-card {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

canvas{
  height: 90vh;
  width: 100vw;
}

mat-card{
  width: 50vw;
}

.child {
  float: left;
  /* height: 100vh; */
  width: 50%;
  background-color: brown;
}

