.center {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  justify-items: center;
}

.center input{
  margin: 5px;
  min-height: 40px;
}

.center button{
  max-height:  40px;
  margin-top: 7.5px;
}
