<div style="margin: 20px; color: black">
  <h2>Device Details</h2>
</div>

<div class="custommap">
  <app-map [markersInfo]="geocodedData"></app-map>
</div>


<div fxHide.lt-md>
  <table
  mat-table
  [dataSource]="dataSource"
  matSort
  (matSortChange)="announceSortChange($event)"
  class="mat-elevation-z8"
  >
  <!-- Position Column -->
  <ng-container matColumnDef="ip">
    <th
    mat-header-cell
    *matHeaderCellDef
    mat-sort-header
    sortActionDescription="Sort by number"
    >
    IP Address
  </th>
  <td mat-cell *matCellDef="let element">{{ element["ip"] }}</td>
</ng-container>

<!-- Name Column -->
<ng-container matColumnDef="name">
  <th
  mat-header-cell
  *matHeaderCellDef
  mat-sort-header
  sortActionDescription="Sort by name"
  >
  Name
</th>
<td mat-cell *matCellDef="let element">{{ element["name"] }}</td>
</ng-container>

<!-- Weight Column -->
<ng-container matColumnDef="port">
  <th
  mat-header-cell
  *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by weight"
        >
        Port
      </th>
      <td mat-cell *matCellDef="let element">{{ element["port"] }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="area">
      <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
      >
      Area
    </th>
    <td mat-cell *matCellDef="let element">{{ element["macdetail"]["area"] }}</td>
  </ng-container>

  <ng-container matColumnDef="city">
      <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
      >
      City
    </th>
    <td mat-cell *matCellDef="let element">{{ element["macdetail"]["city"] }}</td>
  </ng-container>

  <ng-container matColumnDef="state">
    <th
    mat-header-cell
    *matHeaderCellDef
    mat-sort-header
    sortActionDescription="Sort by symbol"
    >
    State
  </th>
  <td mat-cell *matCellDef="let element">{{ element["macdetail"]["state"] }}</td>
</ng-container>

<ng-container matColumnDef="country">
  <th
  mat-header-cell
  *matHeaderCellDef
  mat-sort-header
  sortActionDescription="Sort by symbol"
  >
  Country
</th>
<td mat-cell *matCellDef="let element">{{ element["macdetail"]["country"] }}</td>
</ng-container>

  <ng-container matColumnDef="isEnabled">
    <th
    mat-header-cell
    *matHeaderCellDef
    mat-sort-header
    sortActionDescription="Sort by symbol"
    >
    isEnabled
  </th>

  <td mat-cell *matCellDef="let element">
    <div *ngIf="element['isEnabled']">
      <mat-icon>done</mat-icon>
    </div>
    <div *ngIf="!element['isEnabled']">
      <mat-icon>close</mat-icon>
    </div>
  </td>
</ng-container>

<ng-container matColumnDef="useNSO">
  <th
  mat-header-cell
  *matHeaderCellDef
  mat-sort-header
  sortActionDescription="Sort by symbol">
  useNSO
</th>
<td mat-cell *matCellDef="let element">
  <div *ngIf="element['UseNSO']">
    <mat-icon>done</mat-icon>
  </div>
  <div *ngIf="!element['UseNSO']">
    <mat-icon>close</mat-icon>
  </div>
  <!-- {{element.useNSO&& <mat-icon>done</mat-icon>: <mat-icon>close</mat-icon>}} </td> -->
</td></ng-container
>

<ng-container matColumnDef="edit">
      <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      sortActionDescription="Sort by symbol"
      >

    </th>
    <td mat-cell *matCellDef="let element">
        <mat-icon>edit</mat-icon>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th
      mat-header-cell
      *matHeaderCellDef
      mat-sort-header
      >

    </th>
    <td mat-cell *matCellDef="let element">
      <mat-icon>delete</mat-icon>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[3,10, 5,8]"
  showFirstLastButtons
  class="mat-elevation-z8"
  aria-label="Select page of periodic elements">
</mat-paginator>
</div>
<div class="rightfab">
  <button mat-fab color="primary" (click)="addNewDevice()">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div fxHide.gt-md>
  <h3 style="color: red;">
    Device not supported
  </h3>
</div>
